.main-menu__list {
  @include reset-list;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-menu__link {
  display: inline-block;
  padding: 0 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 3rem;
  color: #000;

  &:hover {
    background-color: $accent-color;
  }
}
