.map__caption {
  background-color: rgba(112, 128, 144, .8);
  margin: 0 auto -6.25rem auto;
  padding: 1.6875rem 0;
  text-align: center;
  position: relative;
  z-index: 3;
  top: -2.5rem;
  max-width: 80rem;
  width: 100%;
}

.map__text {
  color: $white-color;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;

  &--color {
    color: #f5b500;
    font-weight: 700;
  }

  &--small {
    text-transform: lowercase;
  }
}

.map {
  background-color: rgba($white-color, .3);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, .1) 0, #708090 100%);
}

.map__image {
  width: 90%;
  margin: 0 auto;
}

#YMapsID {
  height: 45rem;
}
