@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin container {
  max-width: 66.875rem;
  width: 90%;
  margin: 0 auto;
}

@mixin r($width) {
  @media only screen and (max-width: $width+ "px") {
    @content
  }
}
